<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <form >
      <div class="container-fluid">
        <h2>Add a comment:</h2>
        <label for="Comenter">
            <%= form.label :commenter %><br>
            <%= form.text_field :commenter %>
        </label>

        <label for="Body">
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </label>
        
        <label for = "Status">
            <%= form.label :status %><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
        </label>
        <%= form.submit %>
      </div>
</form>
  <% end %>
  

