<nav>
  <ul>
    <li><h1> Articles</h1></li>
  </ul>
</nav>

<div class="container-fluid">
  <div style="maring: 10px">
    <hgroup>
      <h3>Our blog has <%= Article.public_count %> articles and counting !!!
      </h3>
    </hgroup>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <details open >
          <summary href="<%= article_path(article) %>" > <%= article.title %> by <%= article.user.name %></summary>
          <p> <%= article.body %> </p>
          <a href="<%= article_path(article) %>" >show more </a>
        </details>
      <% end %>
    <% end %> <br>
    <%= link_to "New article cute person", new_article_path %>
  </div>
</div>



