
<%= form_with model: @article do |form| %>
    <form >

      <!-- Grid -->
      <div class="container-fluid">
        <h1>New Article</h1>
        <!-- Markup example 1: input is inside label -->
        <label for="Title">
          Title
          <%= form.text_field :title %>
        </label>

        <label for="Status">
          Status
          <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
        </label>

        <label for="Body">
          Body
          <%= form.text_area :body %><br>
        </label>
      
        <%= form.submit %>
      </div>
    </form>

<% end %>

