<%= render "nav/nav"%>
<article data-theme="light">
  <div class="container">
  <article>
    <header><%= @article.title %></header>
            <%= @article.body %><br>
            <%= link_to "Edit", edit_article_path(@article) %>
            <%= button_to "Destroy", article_path(@article), method: :delete %> 
            <br><br>
      <details>
        <summary>Comments</summary> 
        <ul>
          <li><%= render @article.comments %></li>
        </ul>
      </details>
  </article>
      <%= render 'comments/form' %>
</div>
</article>

