<%= render "nav/nav" %>
<%= form_with model: @user do |form| %> 
    <article data-theme="light"> 
        <form>
            <h3><strong>Create new user</strong></h3> 
            <div class="grid">
                <label for="Name">
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                </label>
                <fieldset>
                <legend>Sex</legend>
                    <%= form.radio_button :sex, "male" %> 
                    Male
                    <%= form.radio_button :sex, "female" %>
                    Female
                </fieldset>
            </div>
            <div class="grid">
                <label for="Email">
                    <%= form.label :email %>
                    <%= form.text_field :email %>
                </label>
                <label for="Age">
                    <%= form.label :age %>
                    <%= form.text_field :age %>
                </label>
            </div>
              <%= form.submit %>
        </form>
    </article>
<% end %>

